@import 'https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap';

.log {
  background: rgba(255, 177, 177, 0.79);
  border: 2px solid rgba(255, 0, 0, 0.21);
  border-radius: 15px;
  float: center;
  font-family: Oxygen, sans-serif;
  font-size: 16px;
  padding: 20px;
  padding-top: 3;
}

.nav-bar-icon {
  opacity: 0.5;
  padding: 15px;
  padding-top: 15px;
}

.info-icon {
  margin-left: 65%;
  margin-top: 15px;
}

.profile-button {
  background: none;
  border: none;
  color: #230960;
  font-family: Oxygen, sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.logged-in-navbar p {
  color: #230960;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

.logged-in-navbar {
  display: flex;
  flex-direction: row;
  max-height: 5%;
  min-height: 3%;
}
