
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');

body {
    font-family: 'Oxygen', sans-serif;
    background: linear-gradient(180deg, #FFFFFF 0%, #EDEFF2 11.46%);
}

.download-docker {
  font-size: 20px;
  color: blue;
  text-decoration-style: none;
}

.sign-out-button {
    position: relative;
    color: #C5C5C5;
    font-weight: light;
    font-size: 20px;
    background: none;
    border: none;
    font-family: 'Oxygen', sans-serif;
    cursor: pointer;
    flex-grow: 0.2;
}
.is-loading {
  position: relative;
  display: flex;
  justify-content: center;
  margin-left: -100px;
  margin-top: 20%;
}
.profile-button {
    border: none;
    font-size: 20px;
    background:none;
    font-family: 'Oxygen', sans-serif;
    font-weight: bold;
    color: #230960;
}

.nav-bar-icon {
    opacity: 0.5;
    padding: 15px;
    padding-top:15px;
}

.vl {
  border-right: 3px solid #E1E3E8;
  height: 100%;
  float: right;
}
.model-notebook-container {
  width: 80%;
  height: 500px;
  background-color:#FFFDFD;
  margin-top: 5px;
  border-radius: 15px;
  display: grid;
  grid-template-columns: 30% 50% 20%;
  margin-left: 10px;
}
.grid-element {
  max-height: 110px;
}
.model-notebook-inputs-container {
  display: grid;
  grid-template-rows: 18% 18% 18% 18% 18%;
  row-gap: 1.6%;
  margin-top: 5px;
}

.model-notebook-labels-container:nth-child(n+2) {
  display: grid;
  grid-template-rows: auto auto auto auto auto;
  row-gap: 5%;
  max-height: 500px;
}
.isLoading {
  align-items: center;
  text-align: center;
  margin-left: 50%;
}

h1 {
  font-weight: bolder;
  font-size: 20px;
  margin-top: 5%;
  margin-left: 5%;
}

img {
  vertical-align: middle;
  margin-right: 4px;
}

.labels {
  border: 1px solid #E3E4E9;
  border-radius: 10px;
  width: fit-content;
  padding: 20px;
  font-size: 14px;
  margin: 15px;
}

input {
  border: none;
  border-radius: 10px;
  padding: 3px;
  font-size: 14px;
  margin: 0px;
  width: 70%;
  vertical-align: center;;
  margin-left: 30px;
  font-family: 'Oxygen', sans-serif;
}

.org-button {
  background: #1C316E;
  border-radius: 10px;
  border-style: none;
  border: none;
  float: right;
  position: inline;
  margin:15px;
  margin-left:80%;
  margin-top: 30px;
  color: #86A3EF;
  padding: 10px;
  font-family: 'Oxygen', sans-serif;
}

.see-logs {
  background: none;
  border-radius: 10px;
  border-style: none;
  border: none;
  position: inline;
  margin:15px;
  color: black;
  padding: 10px;
  font-family: 'Oxygen', sans-serif;
  border: 1px solid #E3E4E9;
}
.loading {
  padding: 20px;
}
.logs-div {
  background: white;
  float: center;
  border-radius: 15px;
  padding: 30px;
  font-size: 14px;
  font-family: 'Oxygen', sans-serif;
  max-width: 70%;
  max-height: 50%;
  overflow-y: scroll;
}

.model-select {
  background: #1C316E;
  border-radius: 10px;
  border-style: none;
  border: none;
  float: right;
  position: inline;
  margin: 20px;
  color: #86A3EF;
  padding: 10px;
  font-family: 'Oxygen', sans-serif;
}

.output-style-select {
  background: #1C316E;
  border-radius: 10px;
  border-style: none;
  border: none;
  float: right;
  position: inline;
  margin: 20px;
  color: #86A3EF;
  padding: 10px;
  font-family: 'Oxygen', sans-serif;
}
.model-notebook-container-dashboard {
  width: 80%;
  height: 110px;
  background-color:#FFFDFD;
  margin-top: 5px;
  border-radius: 15px;
  display: grid;
  grid-template-columns: 30% 50% 20%;
  margin-left: 10px;
}
.input-dashboard {
  border: none;
  border-radius: 10px;
  padding: 40px;
  font-size: 14px;
  margin: 7px;
  width: 100%;
  margin-left: 30px;
  font-family: 'Oxygen', sans-serif;
}
.models-display {
  border: none;
  width: 50%;
  border-radius: 10px;
  padding: 30px;
  font-size: 14px;
  margin: 10px;
  color: black;
  margin-left: 30px;
  font-family: 'Oxygen', sans-serif;
}
input[type='range'] {
  -webkit-appearance: none;
	height: 3px;
	border-radius: 10px;
  cursor: pointer;
	background-image: linear-gradient(rgba(217, 217, 217, 0.37),  rgba(217, 217, 217, 0.37));
	background-repeat: no-repeat;
  margin-top: 40px;
  margin-bottom: 0px;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #1C316E;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  transition: background .3s ease-in-out;
}
.confidence-thresh-button {
  background: #1C316E;
  border-radius: 10px;
  border-style: none;
  border: none;
  float: right;
  position: inline;
  max-width:40px;
  margin: 20px;
  color: #86A3EF;
  padding: 10px;
  text-align: center;
  font-family: 'Oxygen', sans-serif;
}
.start-button {
  background: #3D51D3;
  border-radius: 15px;
  border-style: none;
  border: none;
  margin-top: 60px;
  margin-left: 70%;
  font-size: 16px;
  color: white;
  padding: 20px;
  font-family: 'Oxygen', sans-serif;
}

.setup {
  background: white;
  border-radius: 15px;
  padding: 10px;
  padding-right: 30px;
  padding-left: 30px;
  width: 70%;
}
.setup p {
  font-weight: normal;
}
.setup-img {
  cursor: pointer;
  margin-bottom: 10px;
}
.model-container-buttons {
  display: grid;
  grid-template-rows: 18% 18% 18% 18% 18%;
  row-gap: 1.6%;
}

