@import 'https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap';

body {
  background: linear-gradient(180deg, #fff 0%, #edeff2 11.46%);
  font-family: Oxygen, sans-serif;
}

.download-docker {
  color: blue;
  font-size: 20px;
  text-decoration-style: none;
}

.sign-out-button {
  background: none;
  border: none;
  color: #c5c5c5;
  cursor: pointer;
  flex-grow: 0.2;
  font-family: Oxygen, sans-serif;
  font-size: 20px;
  font-weight: light;
  position: relative;
}

.is-loading {
  display: flex;
  justify-content: center;
  margin-left: -100px;
  margin-top: 20%;
  position: relative;
}

.profile-button {
  background: none;
  border: none;
  color: #230960;
  font-family: Oxygen, sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.nav-bar-icon {
  opacity: 0.5;
  padding: 15px;
  padding-top: 15px;
}

.vl {
  border-right: 3px solid #e1e3e8;
  float: right;
  height: 100%;
}

.model-notebook-container {
  background-color: #fffdfd;
  border-radius: 15px;
  display: grid;
  grid-template-columns: 30% 50% 20%;
  height: 500px;
  margin-left: 10px;
  margin-top: 5px;
  width: 80%;
}

.grid-element {
  max-height: 110px;
}

.model-notebook-inputs-container {
  display: grid;
  grid-template-rows: 18% 18% 18% 18% 18%;
  margin-top: 5px;
  row-gap: 1.6%;
}

.model-notebook-labels-container:nth-child(n + 2) {
  display: grid;
  grid-template-rows: auto auto auto auto auto;
  max-height: 500px;
  row-gap: 5%;
}

h1 {
  font-size: 20px;
  font-weight: bolder;
  margin-left: 5%;
  margin-top: 5%;
}

img {
  margin-right: 4px;
  vertical-align: middle;
}

.labels {
  border: 1px solid #e3e4e9;
  border-radius: 10px;
  font-size: 14px;
  margin: 15px;
  padding: 20px;
  width: fit-content;
}

input {
  border: none;
  border-radius: 10px;
  font-family: Oxygen, sans-serif;
  font-size: 14px;
  margin: 0;
  margin-left: 30px;
  padding: 3px;
  vertical-align: center;
  width: 70%;
}

.org-button {
  background: #1c316e;
  border: none;
  border-radius: 10px;
  border-style: none;
  color: #86a3ef;
  float: right;
  font-family: Oxygen, sans-serif;
  margin: 15px;
  margin-left: 80%;
  margin-top: 30px;
  padding: 10px;
  position: inline;
}

.see-logs {
  background: none;
  border: none;
  border: 1px solid #e3e4e9;
  border-radius: 10px;
  border-style: none;
  color: black;
  font-family: Oxygen, sans-serif;
  margin: 15px;
  padding: 10px;
  position: inline;
}

.loading {
  padding: 20px;
}

.logs-div {
  background: white;
  border-radius: 15px;
  float: center;
  font-family: Oxygen, sans-serif;
  font-size: 14px;
  max-height: 50%;
  max-width: 70%;
  overflow-y: scroll;
  padding: 30px;
}

.model-select {
  background: #1c316e;
  border: none;
  border-radius: 10px;
  border-style: none;
  color: #86a3ef;
  float: right;
  font-family: Oxygen, sans-serif;
  margin: 20px;
  padding: 10px;
  position: inline;
}

.output-style-select {
  background: #1c316e;
  border: none;
  border-radius: 10px;
  border-style: none;
  color: #86a3ef;
  float: right;
  font-family: Oxygen, sans-serif;
  margin: 20px;
  padding: 10px;
  position: inline;
}

.model-notebook-container-dashboard {
  background-color: #fffdfd;
  border-radius: 15px;
  display: grid;
  grid-template-columns: 30% 50% 20%;
  height: 110px;
  margin-left: 10px;
  margin-top: 5px;
  width: 80%;
}

.input-dashboard {
  border: none;
  border-radius: 10px;
  font-family: Oxygen, sans-serif;
  font-size: 14px;
  margin: 7px;
  margin-left: 30px;
  padding: 40px;
  width: 100%;
}

.models-display {
  border: none;
  border-radius: 10px;
  color: black;
  font-family: Oxygen, sans-serif;
  font-size: 14px;
  margin: 10px;
  margin-left: 30px;
  padding: 30px;
  width: 50%;
}

input[type='range'] {
  appearance: none;
  background-image: linear-gradient(
    rgba(217, 217, 217, 0.37),
    rgba(217, 217, 217, 0.37)
  );
  background-repeat: no-repeat;
  border-radius: 10px;
  cursor: pointer;
  height: 3px;
  margin-bottom: 0;
  margin-top: 40px;
}

input[type='range']::-webkit-slider-thumb {
  appearance: none;
  background: #1c316e;
  border-radius: 50%;
  box-shadow: 0 0 2px 0 #555;
  cursor: ew-resize;
  height: 20px;
  transition: background 0.3s ease-in-out;
  width: 20px;
}

.confidence-thresh-button {
  background: #1c316e;
  border: none;
  border-radius: 10px;
  border-style: none;
  color: #86a3ef;
  float: right;
  font-family: Oxygen, sans-serif;
  margin: 20px;
  max-width: 40px;
  padding: 10px;
  position: inline;
  text-align: center;
}

.start-button {
  background: #3d51d3;
  border: none;
  border-radius: 15px;
  border-style: none;
  color: white;
  font-family: Oxygen, sans-serif;
  font-size: 16px;
  margin-left: 70%;
  margin-top: 60px;
  padding: 20px;
}

.setup {
  background: white;
  border-radius: 15px;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  width: 70%;
}

.setup p {
  font-weight: normal;
}

.setup-img {
  cursor: pointer;
  margin-bottom: 10px;
}

.model-container-buttons {
  display: grid;
  grid-template-rows: 18% 18% 18% 18% 18%;
  row-gap: 1.6%;
}
