h1 {
  font-weight: bolder;
  font-size: 20px;
  margin-top: 5%;
  margin-left: 5%;
}

.profile-container {
  background: white;
  border-radius: 15px;
  margin-left: 20%;
  width:40%;
  height: 80%;
  padding: 20px;
}

.inner-profile-container {
  border-radius: 20px;
  padding: 15px;
  border: 2px solid #E2E2E2;
  margin: 20px;
  display: grid;
  grid-template-columns: 20% 50% 30%;
  grid-template-rows: 50% 50%;
}

.profile-pic {
  margin: auto;
  display: block;
}

.profile-input {
  width: 80%;
  border: none;
  border-radius: 10px;
  padding: 10px;
  font-size: 16px;
  font-family: 'Oxygen', sans-serif;
  margin: 10px;
}

label {
  font-weight: bolder;
  padding: 10px;
  margin-top: 16px;
}

.update-button {
  background: #3D51D3;
  border-radius: 15px;
  border-style: none;
  border: none;
  font-size: 14px;
  color: white;
  padding: 10px;
  float: right;
  font-family: 'Oxygen', sans-serif;
  margin: 10px;
}
