/* stylelint-disable plugin/selector-bem-pattern */
.anticon-stop {
  color: red;
}

.anticon-warning {
  color: darkorange;
}

.anticon-info-circle {
  color: blue;
}

.anticon-plus-circle {
  color: green;
}
/* stylelint-enable */
