.LogList {
  border: 2px solid rgba(255, 0, 0, 0.21);
  border-radius: 15px;
  float: center;
  font-family: Oxygen, sans-serif;
  font-size: 16px;
  padding: 20px;
  padding-top: 3;
}

.anticon-stop {
  color: red;
}

.anticon-warning {
  color: darkorange;
}

.anticon-info-circle {
  color: blue;
}

.anticon-plus-circle {
  color: green;
}
