/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
/* quick fix for importing fonts */
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');
body {
  position: relative;
  width: 1424px;
  height: 954px;
  font-family: 'Oxygen', sans-serif;
  justify-content: center;
  align-items: center;
}
