/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

/* quick fix for importing fonts */
@import 'https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap';

/* stylelint-disable scss/at-rule-no-unknown */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* stylelint-enable */

/* stylelint-disable plugin/selector-bem-pattern */
body {
  margin: 0;
}
/* stylelint-enable */

.App {
  background: #fafafa;
  font-family: Oxygen, sans-serif;
  height: 100vh;
}
